@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    background: rgba(229, 84, 115, 0.10);
}

h1 {
    color: #272727;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
h3{
    color: #272727;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn-primary:hover {
    background-color: white;
    color: #E55473;
}
.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    gap: 50px; 
    padding: 50px 240px 0px;
}
.banner{
    display: flex;
     align-items: center;
  justify-content: space-between;
}
.banner .banner-text *{
    margin-bottom: 20px;
    max-width: 525px;
}

.banner .banner-img img{
    width:100%;
    vertical-align: middle;
}
/* feature section */
.hot-deal{
    display: flex;
    align-items: center;
  justify-content: space-around;
}
.deal {
    background: rgba(229, 84, 115, 0.10);
    margin-top: 128px;
}
.hotdeal-text {
      width: 75%;
      max-width: 470px;
      text-align: center;

}
.hotdeal-text *{
    margin-bottom: 20px;
}